* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(0, 159, 255),
    rgb(236, 47, 75)
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #e8ffe8;
  background: #3b5441;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #e7b3b3;
  color: white;
}
input {
  display: block;
}
.details-form-container {
  /* margin-top: ; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(51, 92, 90);
  z-index: 10;
}
.todo-popup-container {
  /* margin-top: ; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(51, 92, 90);
  z-index: 10;
}
.details-form {
  display: flex;
  background-color: #05454b;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 130px;
}
.popup-form {
  display: flex;
  background-color: #05454b;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 130px;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #303a52;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #008996;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.model-bg-popup {
  color: black;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.model-popup {
  position: relative;
  background-color: green;
  width: 50%;
  height: 40%;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.modal button {
  padding: 10px 30px;
  background-color: teal;
  color: white;
  border: node;
  cursor: pointer;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
/* Transition */
/*  
.select:hover::after {
  transform: scale(1.5);
}
*/
